* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(./img/background-1.jpg);
    background-repeat: no-repeat;
  } 


  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  
/* -------------------Header strat----------------------------- */


  .logo {
    width: 216px;
    height: 31px;
    display: flex;
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
  }


  .nav-link, .login {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
  }


  .header {
    width: 100%;
    height: 90px;;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  }
  
  .header-travel {
    margin-left: 6px;
  }

  .header-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 527px;
    margin: 10px 196px 0 158px;
  }
  
  a {
    text-decoration: none;
  }

  .login {
    width: 103px;
    height: 41px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    padding: 0;
    border: none;
    text-align: center;
  }

  .header-flex {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
  }

    /* ----------------------------------Header END--------------------------------- ------------*/


  /* ----------------------------  Section preview strat-------------------------------------- */

.preview {
  width: 892px;
  height: 389px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 32px;
}

.preview-h, .preview-p {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
}


.preview-h {
font-size: 80px;
line-height: 96px;
}

.preview-p {
font-family: 'Aleo';
font-style: italic;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;
margin-bottom: 11px;
}


.form-search, .form-search::placeholder {
  width: 100%;
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  border: none;
  outline:none;
  background: transparent;
  margin-left: 41px;
}

.form-button {
  border: none;
  color: #FFFFFF;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  width: 228px;
  height: 59px;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  margin: 18px;
  padding: 13.5px 32.5px;
}


.preview-form {
  display: flex;
  justify-content: space-between;
  width: 892px;
  height: 95px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}


 /* ----------------------------  Section preview end-------------------------------------- */


 /* ----------------------------  Section steps start-------------------------------------- */


.steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 333px;
}


 h2 {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
   }

 .steps-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F2785C;
  border-radius: 16px;
  width: 100px;
  height: 100px
 }


.steps-p {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}


.steps-block {
  display: flex;
  justify-content: space-between;
  width: 1177px;
  height: 154px;
  margin-top: 40px;
}


.steps-item, .steps-schedule {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.steps-schedule {
  margin-left: 69px;
 }

